{% extends 'base.html' %}

{% block content %}
<div id="app" class="ui container">
    <div class="ui form">
        <form v-on:submit="getGraphData($event)">
            <div class="inline fields">
                <div class="six wide field">
                    <label>Отправитель</label>
                    <input placeholder="Sender" type="text" v-model="sender">
                </div>
                <div class="six wide field">
                    <label>Получатель</label>
                    <input placeholder="Recipient" type="text" v-model="recipient">
                </div>
                <div class="four wide field">
                    <label>Тип</label>
                    <select v-model="graph_type" class="ui search dropdown">
                        <option value="hourly">Час</option>
                        <option value="dayly">День</option>
                    </select>
                </div>
            </div>
            <div class="inline fields">
                <div class="four wide field">
                    <label>Mailgate</label>
                    <input placeholder="mailgate" type="text" v-model="source">
                </div>
                <div class="four wide field">
                    <label>MX</label>
                    <input placeholder="MX-server" type="text" v-model="server">
                </div>
                <div class="four wide field">
                    <label>Ответ</label>
                    <input placeholder="Responce" type="text" v-model="message">
                </div>
                <div class="four wide field">
                    <label>Статус</label>
                    <select v-model="status" class="ui search dropdown">
                        <option value="sent">Доставлено</option>
                        <option value="deferred">Отложено</option>
                        <option value="bounced">Отклонено</option>
                    </select>
                </div>
            </div>
            <div class="inline fields">
                <div class="eight wide field">
                    <label>Старт</label>
                    <input v-model="start" class="date_selector" placeholder="Стартовое время">
                </div>
                <div class="eight wide field">
                    <label>Конец</label>
                    <input v-model="end" class="date_selector" placeholder="Конечное время">
                </div>
            </div>
            <div class="inline fields">
                <div class="sixteen wide field">
                    <button class="fluid ui blue button" type="submit">BUILD ME GRAPH</button>
                </div>
            </div>
        </form>
    </div>
    <div v-if="loading">
        <div class="ui active inverted dimmer">
            <div class="ui text loader">Loading</div>
        </div>
    </div>
    <div v-if="error">
        <div class="ui negative message">
            ${ error_code }
        </div>
    </div>
    <div id="container">

    </div>

    <div class="ui small recipient modal">
        <div class="header">
            ${ modal.start } - ${ modal.end }
            <select v-model="modal.type" class="ui search dropdown">
                <option value="recipient_domain">Домен получателя</option>
                <option value="recipient">Получатель</option>
                <option value="sender_domain">Домен отправителя</option>
                <option value="sender">Отправитель</option>
            </select>
        </div>
        <div class="content">
            <table class="ui single line fixed celled table">
                <tr v-for="item in modal.data">
                    <td>${ item.object }</td>
                    <td>${ item.count }</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block customscripts %}
    <script>
    var app = new Vue({
        delimiters: ['${', '}'],
        el: '#app',
        data: {
            loading: true,
            error: false,
            error_code: '',
            graph_data: [],
            modal: {
                data: [],
                sort: 'hours',
                type: 'recipient_domain',
                start: '',
                end: '',
                time: ''
            },
            graph_type: 'hourly',
            sender: '',
            recipient: '',
            source: '',
            server: '',
            message: '',
            status: '',
            start: moment().subtract(168, 'hours').format(),
            end: moment().format(),
            options: {
                        global : {
                            useUTC : true
                        },
                        chart: {
                            renderTo: 'container',
                            type: 'column'
                        },
                        yAxis: {
                            title: {
                                text: 'Count'
                            },
                        },
                        xAxis: {
                            type: 'datetime',
                            gridLineWidth: 1,
                            title: {
                                text: 'Time (UTC)'
                            }
                        },
                        title: {
                            text: 'Mail Graph'
                        },
                        plotOptions: {
                            series: {
                                cursor: 'pointer',
                                point: {
                                    events: {
                                        click: function() {
                                            app.getModalData(this.x)
                                        }
                                    }
                                }
                            }
                        },
                        series: [{
                            name: 'Mail count',
                            data: [],
                        }]
            }
        },
        methods: {
            getGraphData: function (event) {
                    if (this.graph_type == 'hourly') {
                        this.modal.sort = 'hours'
                    } else {
                        this.modal.sort = 'days'
                    }
                    if (event) event.preventDefault();
                    this.error = false;
                    this.error_code = '';
                    this.loading = true;
                    this.$http.get(
                        "{% url 'mail:graph-list' %}",
                        {
                            params: {
                                sender: this.sender,
                                recipient: this.recipient,
                                source: this.source,
                                server: this.server,
                                message: this.message,
                                status: this.status,
                                start: this.start,
                                end: this.end,
                                graph_type: this.graph_type,
                            }
                        }
                    ).then(
                        responce => {
                            this.options.series[0].data = [];
                            this.graph_data = responce.body;

                            this.options.series[0].data = this.graph_data.map((elem) => [Date.parse(elem.object), elem.count]);

                            new Highcharts.Chart(this.options);
                            this.loading = false;
                        },
                        responce => {
                            this.loading = false;
                            this.error = true;
                            this.error_code = responce.statusText;
                        }
                    )
            },
            getModalData: function (time) {
                this.modal.time = time;
                this.modal.data = [];
                this.modal.start = moment.tz(time, 'Asia/Almaty').format('MMMM Do YYYY HH:mm:ss');
                this.modal.end = moment(moment.tz(time, 'Asia/Almaty').format()).add(1, this.modal.sort).format('MMMM Do YYYY HH:mm:ss');
                if (this.modal.type == 'recipient_domain' || this.modal.type == 'recipient') {
                    url = '{% url "mail:recipients-list" %}'
                } else {
                    url = '{% url "mail:senders-list" %}'
                }
                query_params = {
                    type: this.modal.type,
                    start: moment.tz(time, 'Asia/Almaty').format(),
                    end: moment(moment.tz(time, 'Asia/Almaty').format()).add(1, this.modal.sort).format(),
                    status: this.status,
                    message: this.message,
                    server: this.server,
                    source: this.source,
                }
                rcpt_string = this.recipient;
                sender_string = this.sender;
                if (rcpt_string.indexOf("@") == -1) {
                    recipient_key = 'recipient_domain'
                } else {
                    recipient_key = 'recipient'
                }
                if(sender_string.indexOf("@") == -1) {
                    sender_key = 'sender_domain'
                } else {
                    sender_key = 'sender'
                }
                query_params[recipient_key] = this.recipient;
                query_params[sender_key] = this.sender;
                this.$http.get(
                    url,
                    {
                        params: query_params
                    }
                ).then(
                    responce => {
                        this.modal.data = responce.body
                    },
                    responce => {

                    }
                );
                $('.ui.modal').modal('show');
            }
        },
        mounted: function () {
            flatpickr(
                ".date_selector",
                {
                    enableTime: true ,
                    altInput: true,
                    time_24hr: true
                }
            );
            this.getGraphData()
        },
        watch: {
            'modal.type': function () {
                this.getModalData(this.modal.time)
            }
        }
    });
    </script>
{% endblock %}
