{% extends 'base.html' %}

{% block content %}

<div id="app">
    <div class="ui three column stackable grid container">
        <div class="column">
            <p><b>Total bounced:</b> ${ total.bounced }</p>
        </div>
        <div class="column">
            <p><b>Mailru bounced:</b> ${ mailru.bounced }</p>
        </div>
        <div class="column">
            <p><b>Gmail bounced:</b> ${ gmailcom.bounced }</p>
        </div>
        <div class="column">
        </div>
        <div class="column">
            <p><b>Mailru DMARCed:</b> ${ mailru.dmarc }</p>
        </div>
        <div class="column">
            <p><b>Gmail DMARCed:</b> ${ gmailcom.dmarc }</p>
        </div>
        <div class="column">
        </div>
        <div class="column">
            <p><b>Mailru spamed:</b> ${ mailru.spam }</p>
        </div>
        <div class="column">
            <p><b>Gmail issued:</b> ${ gmailcom.issued }</p>
        </div>
        <div class="column">
        </div>
        <div class="column">
            <p><b>Mailru invalid:</b> ${ mailru.invalid }</p>
        </div>
        <div class="column">
            <p><b>Gmail invalid:</b> ${ gmailcom.invalid }</p>
        </div>
        <div class="column">
            <p><b>Total count:</b> ${ total.total }</p>
        </div>
        <div class="column">
            <p><b>Mailru total count:</b> ${ mailru.total }</p>
        </div>
        <div class="column">
            <p><b>Gmail total count:</b> ${ gmailcom.total }</p>
        </div>
    </div>
    <div class="ui two column stackable grid container">
        <div class="column">
            <div class="ui segment">
                <div class="ui form">
                    <h4 class="ui dividing header">Sender information</h4>
                    <div class="inline fields">
                        <div class="sixteen wide field">
                            <label>Отправители</label>
                            <select v-model="sender_type" class="ui search dropdown">
                                <option value="sender">Ящик</option>
                                <option value="sender_domain">Домен</option>
                                <option value="source">Mailgate</option>
                                <option value="subject">Тема</option>
                            </select>
                        </div>
                    </div>
                    <div class="inline fields">
                        <div class="sixteen wide field">
                            <label>Старт</label>
                            <input v-model="sender_start" class="date_selector">
                        </div>
                    </div>
                    <div class="inline fields">
                        <div class="sixteen wide field">
                            <label>Конец</label>
                            <input v-model="sender_end" class="date_selector">
                        </div>
                    </div>
                </div>
                <div v-if="sender_loading">
                      <div class="ui active inverted dimmer">
                          <div class="ui text loader">Loading</div>
                      </div>
                </div>
                <table class="ui single line fixed celled compact table">
                    <tr v-for="item in sender_result">
                        <td><a v-on:click="showSenderDetail(item.object)">${ item.object }</a></td>
                        <td>${ item.count }</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <div class="ui form">
                    <h4 class="ui dividing header">Recipient information</h4>
                    <div class="inline fields">
                        <div class="sixteen wide field">
                            <label>Получатели</label>
                            <select v-model="recipient_type" class="ui search dropdown">
                                <option value="recipient">Ящик</option>
                                <option value="recipient_domain">Домен</option>
                                <option value="server">MX-сервер</option>
                                <option value="status">Статус доставки</option>
                            </select>
                        </div>
                    </div>
                    <div class="inline fields">
                        <div class="sixteen wide field">
                            <label>Старт</label>
                            <input v-model="recipient_start" class="date_selector">
                        </div>
                    </div>
                    <div class="inline fields">
                        <div class="sixteen wide field">
                            <label>Конец</label>
                            <input v-model="recipient_end" class="date_selector">
                        </div>
                    </div>
                </div>
                <div v-if="recipient_loading">
                    <div class="ui active inverted dimmer">
                        <div class="ui text loader">Loading</div>
                    </div>
                </div>
                <table class="ui single line fixed celled compact table">
                    <tr v-for="item in recipient_result">
                        <td><a v-on:click="showRecipientDetail(item.object)">${ item.object }</a></td>
                        <td>${ item.count }</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="ui small sender modal">
        <div class="header">${ active_sender } recipients</div>
        <div class="content">
            <table class="ui single line fixed celled table">
                <tr v-for="item in active_sender_recipients">
                    <td>${ item.object }</td>
                    <td>${ item.count }</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="ui small recipient modal">
        <div class="header">${ active_recipient } senders</div>
        <div class="content">
            <table class="ui single line fixed celled table">
                <tr v-for="item in active_recipient_senders">
                    <td>${ item.object }</td>
                    <td>${ item.count }</td>
                </tr>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block customscripts %}
    <script>
    var app = new Vue({
        delimiters: ['${', '}'],
        el: '#app',
        data: {
            mailru: {},
            total: {},
            gmailcom: {},
            sender_type: 'sender',
            sender_start: moment().subtract(1, 'hours').format(),
            sender_end: moment().format(),
            sender_result: [],
            sender_loading: true,
            recipient_type: 'recipient_domain',
            recipient_start: moment().subtract(1, 'hours').format(),
            recipient_end: moment().format(),
            recipient_result: [],
            recipient_loading: true,
            active_sender: '',
            active_sender_recipients: [],
            active_recipient: '',
            active_recipient_senders: '',
        },
        methods: {
            getSenders: _.debounce(
                function () {
                    this.sender_loading = true
                    this.$http.get(
                        '{% url "mail:senders-list" %}',
                        {
                            params: {
                                start: this.sender_start,
                                end: this.sender_end,
                                type: this.sender_type
                            }
                        }
                    ).then(
                        responce => {
                            this.sender_result = responce.body
                            this.sender_loading = false
                        },
                        responce => {

                        }
                    )
                },
                2000
            ),
            getRecipients: _.debounce(
                function () {
                    this.recipient_loading = true
                    this.$http.get(
                        '{% url "mail:recipients-list" %}',
                        {
                            params: {
                                start: this.recipient_start,
                                end: this.recipient_end,
                                type: this.recipient_type
                            }
                        }
                    ).then(
                        responce => {
                            this.recipient_result = responce.body
                            this.recipient_loading = false
                        },
                        responce => {

                        }
                    )
                },
                2000
            ),
            getActiveSenderRecipients: function () {
                request_params = {
                    start: this.recipient_start,
                    end: this.recipient_end,
                    type: 'recipient_domain'
                };
                dynamic_key = this.sender_type;
                request_params[dynamic_key] = this.active_sender
                this.$http.get(
                    '{% url "mail:recipients-list" %}',
                    {
                        params: request_params
                    }
                ).then(
                    responce => {
                        this.active_sender_recipients = responce.body
                    },
                    responce => {

                    }
                );
                $('.ui.sender.modal').modal('show');
            },
            getActiveRecipientSenders: function () {
                request_params = {
                    start: this.sender_start,
                    end: this.sender_end,
                    type: 'sender_domain'
                };
                dynamic_key = this.recipient_type;
                request_params[dynamic_key] = this.active_recipient;
                this.$http.get(
                    '{% url "mail:senders-list" %}',
                    {
                        params: request_params
                    }
                ).then(
                    responce => {
                        this.active_recipient_senders = responce.body
                    },
                    responce => {

                    }
                );
                $('.ui.recipient.modal').modal('show');

            },
            showSenderDetail: function (sender) {
                this.active_sender = '';
                this.active_sender_recipients = [];
                this.active_sender = sender;
                this.getActiveSenderRecipients()
            },
            showRecipientDetail: function (recipient) {
                this.active_recipient = '';
                this.active_recipient_senders = [];
                this.active_recipient = recipient;
                this.getActiveRecipientSenders()
            },
            getTotal: function () {
                    this.$http.get(
                        '{% url "mail:total" %}',
                    ).then(
                        responce => {
                            this.total = responce.body
                        },
                        responce => {

                        }
                    )
            },
            getMailRu: function () {
                    this.$http.get(
                        '{% url "mail:mailru" %}',
                    ).then(
                        responce => {
                            this.mailru = responce.body
                        },
                        responce => {

                        }
                    )
            },
            getGmailCom: function () {
                    this.$http.get(
                        '{% url "mail:gmail" %}',
                    ).then(
                        responce => {
                            this.gmailcom = responce.body
                        },
                        responce => {

                        }
                    )
            },
        },
        mounted: function () {
            flatpickr(
                ".date_selector",
                {
                    enableTime: true ,
                    altInput: true,
                    time_24hr: true
                }
            );
            this.getTotal();
            this.getMailRu();
            this.getGmailCom();
            this.getSenders();
            this.getRecipients();
        },
        watch: {
            sender_type: function () {
                this.getSenders()
            },
            recipient_type: function () {
                this.getRecipients()
            },
            sender_start: function() {
                this.getSenders()
            },
            sender_end: function() {
                this.getSenders()
            },
            recipient_start: function() {
                this.getRecipients()
            },
            recipient_end: function() {
                this.getRecipients()
            },
        }
    });
    </script>
{% endblock %}
