{% load staticfiles %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <title>Maillog Web Interface</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="{% static 'lodash.min.js' %}"></script>
    <script src="{% static 'semantic/semantic.min.js' %}"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.2.1/vue-resource.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://momentjs.com/downloads/moment-timezone-with-data.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://unpkg.com/flatpickr"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">

    <style>
        .last.container {
            margin-bottom: 300px !important;
        }
        h1.ui.center.header {
            margin-top: 1em;
        }
        h2.ui.center.header {
            margin: 4em 0em 2em;
        }
        h3.ui.center.header {
            margin-top: 2em;
            padding: 2em 0em;
        }
        div.ui.container {
            margin-top: 2em;
            padding: 2em 0em;
        }
    </style>
</head>
<body>

<h1 class="ui center aligned header">Maillog Web Interface</h1>

<div class="ui three item menu">
    <a class="item" href="{% url 'mail:home' %}">Home</a>
    <a class="item" href="{% url 'mail:graph' %}">Graphs</a>
    <a class="item" href="{% url 'mail:api-root' %}">API</a>
</div>

{% block content %}
{% endblock %}

{% block customscripts %}
{% endblock %}

</body>
</html>
